<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhixingshidai.pachong.dao.CodeMapper">

    <resultMap id="resultMap" type="cn.zhixingshidai.pachong.pojo.CodeAttrModel">
        <id property="id" column="id"></id>
        <result property="goodsImg" column="goodsImg"></result>
        <result property="goodsCode" column="goodsCode"></result>
        <result property="categoryId" column="categoryId"></result>
        <result property="goodsName" column="goodsName"></result>
        <result property="brandName" column="brandName"></result>
        <result property="partyContactName" column="partyContactName"></result>
        <result property="partyContactAddress" column="partyContactAddress"></result>
        <result property="goodsSpecifications" column="goodsSpecifications"></result>
        <result property="price" column="price"></result>
        <result property="status" column="status"></result>
        <result property="createDate" column="createDate"></result>
        <result property="updateDate" column="updateDate"></result>
        <result property="source" column="source"></result>
        <result property="istag" column="istag"></result>
        <result property="goodsClassId" column="goodsClassId"></result>
        <result property="goodsWordId" column="goodsWordId"></result>
        <result property="updateWordDate" column="updateWordDate"></result>
        <result property="userId" column="userId"></result>
        <result property="isUpdate" column="isUpdate"></result>
        <result property="indexed" column="indexed"></result>
        <result property="codeStatus" column="codeStatus"></result>
        <result property="brandId" column="brandId"></result>
        <result property="brandStatus" column="brandStatus"></result>
        <result property="brandUpdateDate" column="brandUpdateDate"></result>
        <result property="newGoodClassId" column="newGoodClassId"></result>
        <result property="newGoodClassStatus" column="newGoodClassStatus"></result>
        <result property="newGoodClassUpdateDate" column="newGoodClassUpdateDate"></result>
        <result property="alias" column="alias"></result>
        <result property="showName" column="showName"></result>
        <result property="typeId" column="type_id"></result>
    </resultMap>


    <select id="getCodeAttr" resultType="Integer">
        select goodsWordId from ${tableName}
        <where>
            goodsWordId is not null and newGoodClassStatus = 0
        </where>
    </select>

    <update id="update">
        update ${tableName}
        <set>
            <if test="goodsClassId != null">
                newGoodClassId = #{goodsClassId},
                newGoodClassStatus = 1,
                newGoodClassUpdateDate = now(),
            </if>
        </set>
        <where>
            goodsWordId =#{goodsWordId}
            and newGoodClassStatus = 0
        </where>
    </update>

    <select id="getGoodIdByWordId" resultType="String">
        select goods_class_id from tb_word_face
        <where>
            word_id = #{goodsWordId}
        </where>
    </select>
    <select id="getIdByGoodClassId" parameterType="String" resultType="Integer">
        select id from tb_goods_class
        <where>
            goods_class_id = #{goodClassId}
        </where>
    </select>

    <select id="getUpdateWordDateIsNotNull" resultType="integer">
        select id from tb_coded_attr where updateWordDate is not null
    </select>
    <update id="setUpdateWordDateIsNull">
        update tb_coded_attr
        <set>
            updateWordDate = null
        </set>
        <where>
            id &gt;=${idStart} and id &lt;=${idEnd}
        </where>
    </update>

    <select id="getIds" resultType="integer">
        select id
        from tb_coded_attr where
        updateDate > '2019-03-21 '
        and showName is not null
        and showName!=''
        and isUpdate =0
    </select>

    <select id="getGoodsCodeList" resultType="String">
        select goodsCode from tb_coded_attr
    </select>

    <update id="codeAttrCopyToSubmeter">
        update tb_coded_attr attr,tb_barcode_${submeterSuffix} sub
        <set>
            sub.goodsImg=attr.goodsImg,
            sub.categoryId=attr.categoryId,
            sub.goodsName=attr.goodsName,
            sub.brandName=attr.brandName,
            sub.partyContactName=attr.partyContactName,
            sub.partyContactAddress=attr.partyContactAddress,
            sub.goodsSpecifications=attr.goodsSpecifications,
            sub.price=attr.price,
            sub.status=attr.status,
            sub.createDate=attr.createDate,
            sub.updateDate=attr.updateDate,
            sub.source=attr.source,
            sub.istag=attr.istag,
            sub.goodsClassId=attr.goodsClassId,
            sub.goodsWordId=attr.goodsWordId,
            sub.updateWordDate=attr.updateWordDate,
            sub.userId=attr.userId,
            sub.isUpdate=attr.isUpdate,
            sub.codeStatus=attr.codeStatus,
            sub.brandId=attr.brandId,
            sub.brandStatus=attr.brandStatus,
            sub.brandUpdateDate=attr.brandUpdateDate,
            sub.newGoodClassId=attr.newGoodClassId,
            sub.newGoodClassStatus=attr.newGoodClassStatus,
            sub.newGoodClassUpdateDate=attr.newGoodClassUpdateDate,
            sub.alias=attr.alias,
            sub.showName=attr.showName,
            sub.type_id=attr.type_id,
        </set>
        <where>
            <foreach collection="goodsCodeList" open="sub.goodsCode in (" close=")" item="goodsCode" separator=",">
                #{goodsCode}
            </foreach>
            and sub.goodsCode=attr.goodsCode
        </where>
    </update>

    <select id="getCodeAttrByGoodsCode" resultMap="resultMap">
        select * from tb_coded_attr where goodsCode = #{goodsCode}
    </select>
    <select id="getCodeAttrSubmeterByGoodsCode" resultMap="resultMap">
        select * from tb_barcode_${submeterSuffix} where goodsCode = #{goodsCode}
    </select>


    <select id="getPublishCode" resultType="String">
            select goodsCode
            from tb_coded_attr where isUpdate = 2 or isUpdate = 6 or isUpdate = 7 or isUpdate = 8;
    </select>

    <select id="getShowSearchCode" resultType="String">
            select barcode
            from tb_coded_attr_show_search;
    </select>

    <insert id="addToShowSearch" parameterType="list">
        insert into tb_coded_attr_show_search (coded_attr_id, create_time, barcode)
        <foreach collection="publishCodeList" item="barcode" open="values ( " close=")" separator="),(">
            0,now(),#{barcode}
        </foreach>
    </insert>
    <delete id="deleteFromShowSearch" parameterType="list">
        delete from tb_coded_attr_show_search
        <where>
            <foreach collection="showSearchCodeList" item="barcode" open="barcode in(" close=")" separator=",">
                #{barcode}
            </foreach>
        </where>
    </delete>

</mapper>